.sidebar {
  width: 176px;
  padding: 37px 30px;
  min-height: calc(100vh - 48px);
  height: calc(100% - 48px);
}

.sidebar__list {
  list-style-type: none;
  padding: 0;
}

.sidebar__listItem {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 30px;
  cursor: pointer;

  & > span {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
}

.sidebar__listItemActive {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 30px;
  cursor: pointer;

  & > span {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #4285f4;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1440px) {
  .sidebar {
    display: none;
  }
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
