.preview__item {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 8.23466px;
    line-height: 14px;
    text-align: center;
    letter-spacing: -0.03em;
    width: 90px;
    height: 124px;
  }